:root {
  --bg-dark: #1a192b;
  --font-light: #c2c2d6;
  --font-dark: #5b5b86;
  --highlight: #ca6060;
}

* {
  margin: 0;
  padding:0;
  color: var(--font-light);
}

body {
  font-size: 16px;
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

h1 {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 2rem;
}

.firstname {
  position: relative;
}

.firstname:before {
  position: absolute;
  z-index: -1;
  display: block;
  border-bottom: 5px;
  background-color: var(--highlight);
  content: '';
  height: 10px;
  width: 100%;
  bottom: -2px;
  left: -0.4rem;
}

.bold {
  font-weight: bold;
}

h1 .surname {
  color: var(--font-dark);
}

h1 .caret {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 2rem;
  background-color: var(--highlight);
  position: relative;
  bottom: -4px;
  left: 2px;
  animation: pulse 1.5s infinite;
}

.text-body {
  font-family: monospace;
  font-size: 1.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
